*{
    margin: 0; 
    padding: 0; 
   box-sizing: border-box; }
.globe{
    height: 60px;
    width: 60px;

}

.textContent {
   background-color: aquamarine;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 10px;
   gap: 20px;
}
.Tonga{ 
    font-size: 14px;
}
@media(min-width:530px)
{.Tonga{background-color: aquamarine;
font-size: 60px;}
.globe{height: 50px;
width: 50px;}}